{% extends 'blog/base.html' %}
{% block body %}

    <div class="jumbotron">
        <h2>Please Login:</h2>
        <h3>(Check in with an admin if you are not a superuser!)</h3>

        {% if form.errors %}
            <p>Username and password don't match!</p>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

    </div>

{% endblock %}