{% extends "base.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            {% block pregroup %}{% endblock %}
            {% block group_content %}{% endblock %}
            {% block postgroup %}{% endblock %}
        </div>
    </div>

{% endblock %}