{% extends "groups/group_base.html" %}

{% block pregroup %}
    <h1>{{ group.name }}</h1>
    <h2>Member Count: {{ group.members.count }}</h2>

    <div class="content">
        {% if user in group.members.all %}
            <a class="btn btn-lg btn-fill btn-warning" href="{% url 'groups:leave' slug=group.slug %}">
                <span class="glyphicon glyphicon-remove-circle">Leave</span>
            </a>
        {% else %}
            <a class="btn btn-lg btn-fill btn-default" href="{% url 'groups:join' slug=group.slug %}">
                <span class="glyphicon glyphicon-ok-circle">Join</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block group_content %}
    <div class="col-md-8">
        {% if group.posts.count == 0 %}
        {% else %}
            {% for post in group.posts.all %}
                {% include 'posts/_post.html' %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}