{% extends "blog/base.html" %}

{% block body %}
<h1>New Comment</h1>
<form class="post-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="save btn btn-default" value="Post Comment">
</form>

<script> var editor = new MediumEditor('.editable');</script>
{% endblock %}