{% extends "blog/base.html" %}

{% block body %}
      <div class="centerstage">
        {% for post in post_draft_list %}
            <div class="post">
                <div class="date">
                    <p>Created on: {{ post.created_date|date:"d-m-y" }}</p>
                </div>
                <h1><a href="{% url 'post_detail' pk = post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}