{% extends "blog/base.html" %}

{% block body %}
    <form method="post">
    {% csrf_token %}
        <p>Confirm delete? {{ object }} </p>
        <input type="submit" class="btn btn-danger" value="Delete">
    </form>
{% endblock %}