{% extends 'posts/post_base.html' %}

{% block post_content %}
    <h3>Are you sure you want to delete?</h3>

    <div class="post">
        {% include 'posts/_post.html' with post=object hide_delete=True %}
    </div>

    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm Delete" class="btn btn-danger btn-large">
        <a class="btn btn-simple btn-large btn-default"
           href="{% url 'posts:single' username=user.username pk=object.pk %}">
            Cancel
        </a>
    </form>
{% endblock %}