{% extends "base.html" %}

{% block body %}
    <div class="posts-page">
        <div class="container">
            <div class="row">
                {% block prepost %}{% endblock %}
                {% block post_content %}{% endblock %}
                {% block post_post %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}