{% extends 'posts/post_base.html' %}
{% load bootstrap3 %}

{% block post_content %}
    <h4>Create a new Post!</h4>
    <form id="postForm" method="post" action="{% url 'posts:create' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Post" class="btn btn-primary btn-large">
    </form>
{% endblock %}