{% extends 'posts/post_base.html' %}
1
{% block prepost %}
    <div class="col-md-4">
        {% if user.is_authenticated %}
            <div class="card card-with-shadow">
                <div class="content">
                    <h5 class="title">Your Groups</h5>
                    <ul class="list-unstyled">
                        {% for group in get_user_groups %}
                            <li class="group li-with-bullet">
                                <a href="{% url 'groups:single' slug=group.group.slug %}"></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="card card-with-shadow">
            <div class="content">
                <h5 class="title">All groups</h5>
                <ul class="list-unstyled">
                    {% for other_group in get_other_groups %}
                        <li class="group li-with-bullet">
                            <a href="{% url 'groups:single' slug.other_group.slug %}"></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_content %}
    <div class="col-md-8">
    {% for post in post_list %}
        {% include 'posts/_post.html' %}
    {% endfor %}


    </div>
{% endblock %}