{% extends 'posts/post_base.html' %}

{% block prepost %}
    <div class="col-md-5">
        <h1>@{{ post_user.username }}</h1>
    </div>
{% endblock %}

{% block post_content %}
    <div class="col-md-8">
        {% if post_list.count != 0 %}
            {% for post in post_list %}
                {% include 'posts/_post.html' %}
            {% endfor %}
        {% else %}
            <h3>No posts to show.</h3>
        {% endif %}
    </div>
{% endblock %}