{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
    <div class="container">
    <h1>Log In</h1>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-default" value="Login">
        </form>
    </div>
{% endblock %}